{% extends "layout.html" %}
{% block content %}
<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.13.min.js"></script>
<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.13.min.js"></script>
<center>
<a href ="http://52.14.91.53:5000/dashboard?address=TCJ2QE7WZQLYWAF5EKEY2H3T57A2NP54W7HBSN5L&namespace=company_a&mosaic=holiday2018">Sample1:company_a</a>  <a href ="http://52.14.91.53:5000/dashboard?address=TCEUJ2AV33YERSL56ZMQKK5RXFMQ7GVAPVEYVAJ6&namespace=company_b&mosaic=holiday2016">Sample2:company_b</a>
<h2> {{ selected_namespace }}:Paid Holiday Acquisition Dashboard </h2>
<p>Selected Company address is:<strong> {{ address }} </strong> </p>
<form action = "/dashboard", method = "get">
<input type ="text" name = "address" value = "{{address}}" size = 64>
<input type ="text" name = "namespace" value = "{{selected_namespace}}">

<select name = "mosaic">
    {% for i in mosaics %}
        {% if i == selected_mosaic%}
            <option selected value = "{{i}}">{{i}}</option>
        {% else %}
            <option values = "{{i}}">{{i}}</option>
        {% endif %}
    {% endfor %}
</select>
<input type = "submit">
</form>

<h3> Mosaic Information </h3>
{{ df|safe }}

<h3>Offered {{mosaic}} Ratio</h3>
{{ t|safe }}
{{ r|safe }}

</center>
{% endblock %}
