{% extends "layout.html" %}
{% block content %}
<h1>デモ向け　簡単な説明</h1>
<h3>Take A Holiday!</h3>
<p>有給申請するページです。日付を選んでapply Holiday!を押すとモザイクを会社のアドレスに送信します。</p>
<p>会社のアドレスがモザイク受信すると、カレンダーに休みの予定が追加されます。</p>
<p>本来であれば認証などが必要でしょうが、テスト用のページとして、company_a社のAlice社員の有給申請用ページを用意しました。</p>
<p>テスト用ということで実環境とは異なるところが幾つかありますが、詳しく知りたい人は下の雑多な英語を読んで下さい。</p>

<h3>Dashboard </h3>
<p>会社のアドレスが受信したモザイクの量/モザイク発行量を表示します。</p>
<p>つまり申請された有給の和/有給モザイクの発行量で有給消化率が可視化されます。</p>
<p>パブリックチェーンにあるからやりとりを可視化できるとはいえ、何のツールもないと実質不可能なので実装しました</p>
<p>URLの組み合わせで色々見れます。GUIからも指定できます。</p>
<p>アドレスがなかったり、モザイクを受け取ったことのないアドレスだとバグります（修正予定）。また、モザイク一覧はネームスペースから自動取得しますが、アドレスとネームスペースの組み合わせを知っておく必要があります。</p>

<p><a href ="http://52.14.91.53:5000/dashboard">company_a</a>:Aliceしか社員がいないのにAliceが1000近く有給を持っているので消化率が非常に悪いです。</p>
<p><s>Take A Holiday!を使って有給申請することで有給消化率が上がっていきます。</s>今回はholiday2018でなくtestモザイクを送るようにしているのでtestモザイクの方を見てください。</p>
<p><s>testというモザイクは開発時に使っていたもので特に意味は無いです</s></p>
<p>1/15にバグを見つけて、holiday2018についてうまく表示できないです。修正中。</p>

<p><a href ="http://52.14.91.53:5000/dashboard?address=TCEUJ2AV33YERSL56ZMQKK5RXFMQ7GVAPVEYVAJ6&namespace=company_b&mosaic=holiday2016">company_b</a>:もうすこし現実的な例として準備しました。2016年から社員5名で頑張っている会社で、一人年20日有給がもらえるという設定です。</p>
<p>2016年あたりはなかなか有給申請がなかったけど2017年はマシになって、2018年はまだ始まったばかりなのであまり使っていない、という感じです。</p>

<h3>フィードバック </h3>
<p>Githubのissue(これからリポジトリ作ります・・・)とかTwitterとかなんでもいいです。</p>
<p>内容もバグはもちろんデザインとか英語の添削とかこういう機能が欲しいとかただの意見とかなんでもいいです。</p>
<p>考えたけど優先度とかリソースの問題で実装できていないことは下に英語で書きなぐってあるので暇だったら見てみてください。</p>

<h2>Description</h2>

<h3>Basic Idea/Problems I want to solve</h3>
<p>In Japan, many employees can't take all of their paid holidays.</p>
<p>https://www.travelvoice.jp/english/japan-is-the-worst-country-in-the-paid-holiday-acquisition-rate-ranking/</p>

<p>NEM-KYU is a simple application for Attendance Management.</p>
<p>With this application, employees can offer paid holiday by sending mosaics.</p>
<p>They don't have to make a phone-call/e-mail or talk with their boss.(I don't like all of them!)</p>
<p>Since it is working on public chain, anyone can visualize if the company is employee-friendly or not.</p>
<p>It is very helpful for job finders. They can know if they can take holidays easily or not.</p>
<p>Currently companys let us know the paid holiday axquisition rate, but can you trust it?</p>
<p>By using public chain, not employee-friendly company can't recruit anyone!</p>

<h3>System Description</h3>
<p>In this hackathon, I developed 2 functions.</p>

<h4>Offering paid holiday by sending a mosaic.</h4>
<p>In this system, company have its own NEM address and namespace.</p>
<p>It issues mosaics like "holiday2018" and distribute it to its employees.</p>

<p>When an employee feels he wants a holiday, he just needs to send a mosaic via NEM-KYU.</p>
<p>Instead of using NEM-KYU, he can send it using Nanowallet, too. (Need to set appropriate message, though.)</p>

<p>By triggering mosaic-recieve, company-side can run any program like sending messages to sender's colleagues, updating calendar and so on.</p>
<p>It means that it is very easy to integrate with current system.</p>
<p>In this test version, as company-side, transaction-monitoring program automatically calls program to update the Google calendar.</p>
<p>Not only updating calendar, but also any program can be called if developed!</p>

<p>For user-test, I prepare user "Alice" who is working for "company_a".</p>
<p>Select the date you want to take a holiday and click apply to send a mosaic.</p>
<p>After transaction is confirmed, check the google calendar is updated.</p>

<p>In test version, following features don't reflect the actual situation;</p>
<p>- Alice has tremendous holidays. </p>
<p>- Alice can offer holiday even if it is already offered/Sunday/long time ago.</p>
<p>- In actual system, it needs authentication but test version doesn't offer it.</p>
<p>- Destination address is preset. </p>
<p>- Can't use Nanowallet since I can't tell you Alice's private key.</p>

<p>Fixing them is easy but they are helpful to make many users test this app with few resources.</p>

<h4>Paid Holiday Acquistion Dashboard</h4>
<p>This dashboard helps you to check how many holidays are offered until now.</p>

<p>I prepared a sample company "company_b" for demo.</p>
<p>Company_b started in 2016 with 5 members.</p>
<p>Employees get 20 "company_b:holiday20xx" every year.(xx = 16,17,18)</p>
<p>Thus total supply of "company_b:holiday20xx" is 100.</p>

<p>Of course you can check company_a dashboard, too!</p>
<p>Since company_a has only one employee Alice and she has 1000 holidays, offered paid holiday ratio is very low.</p>
<p>Try NEM-KYU to increase the offered paid holiday ratio of company_a!</p>
<p>(test mosaic was used during development instead of holiday mosaic.)</p>

<h3>Future Plan:</h3>
<h4>Update of NEM-KYU</h4>

<p>With using blockchain, these functions would be easily implemented.</p>
<p>- Trading holidays with colleagues.</p>
<p>Even in current system, you can trade holidays with your colleagues using Nanowallet.</p>
<p>If company provides the exchange, you can trade your holidays more easily.</p>

<p>- Get XEM refunds for expired holidays.</p>
<p>I couldn't implement it in this hackathon since it seemed time-consuming to implement function to identify if the transaciton is holiday offer or refund offer.</p>
<p>However, it is a very simple idea and not difficult to implement:Just make a xem transaction when company-side receives holiday mosaic with "refund" message.</p>

<p>It is very nice idea to use multisig transaction when employee offers a holiday.</p>
<p>In Japan, company-side can ask employees to change the date of holiday.</p>
<p>With using multi-sig transaction, the boss can confirm the offer.</p>

<p>Additionally, it is possible to update Dashboard.</p>
<p>Current dashboard has only simple functions but it is possible to visualize when employees offers holidays.</p>
<p>Depending on their business, there are busy season and off-season. It can visualize them with actual data.</p>

<h4>Other Field</h4>
<p>Moreover, NEM-KYU is not just Attendance Management Application, but is useful for Emergency Contact.</p>
<p>At the time of disaster, company wants to know if their colleagues are safe or not as soon as possible.</p>
<p>In such cases, workers can tell by sending “Company_NAME:Safe” mosaic to company address.</p>

<p>Since it is completely same system with Attendance management, workers don’t need another training for using specific system.</p>
<p>If server is down due to disaster and can't access to NEM-KYU, users can tell by using nanowallet.</p>
<p>If their family/friends knows his address, they can know if he is safe by checking the transactions from the address.</p>
<p>No need to contact directly, which causes traffic jam in network.</p>



{% endblock %}
